In [1]:
from sklearn.datasets import load_iris
from sklearn.decomposition import PCA

import pandas as pd

In [2]:
def pca_transformation(data):
    pca = PCA(n_components=2)
    principal_components = pca.fit_transform(data)
    principal_df = pd.DataFrame(data = principal_components
             ,columns = ['principal component 1', 'principal component 2'])
    return principal_df

In [3]:
def get_iris_dataset():
    iris_data=load_iris()
    iris_df = pd.DataFrame(iris_data.data, columns = iris_data.feature_names)
    return iris_df

In [4]:
iris_data = get_iris_dataset()

In [5]:
iris_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
pca_transformation(iris_data)

     principal component 1  principal component 2
0                -2.684126               0.319397
1                -2.714142              -0.177001
2                -2.888991              -0.144949
3                -2.745343              -0.318299
4                -2.728717               0.326755
..                     ...                    ...
145               1.944110               0.187532
146               1.527167              -0.375317
147               1.764346               0.078859
148               1.900942               0.116628
149               1.390189              -0.282661

[150 rows x 2 columns]